{block content}

<h4>Priklad Model</h4>
<hr/>

<h5><a n:href=":osobaDetail 1">Detail osoby c.1</a></h5>
<h5><a n:href=":changeName 1">Zmena mena osoby c.1</a></h5>
<h5><a n:href=":vozidloDetail 1">Vozidlo osoby c.1</a></h5>
<h5><a n:href=":changeModel 1">Zmena modelu vozidla c.1</a></h5>
<h5><a n:href=":showAssignedVozidlo 1">Priradene vozidla osobe c.1</a></h5>

<p><a n:href="Home:">Spat</a></p>
