{block content}

<h4>Priradene vozidla</h4>
<hr/>
{varType \App\Model\Entity\Vozidlo[] $vozidla}


<ul n:inner-foreach="$vozidla as $vozidlo">
    <li>{$vozidlo->getId()}</li>
    <li>{$vozidlo->getModel()}</li>
    <li>{$vozidlo->getRegistration()}</li>
    <li>{$vozidlo->getColor()}</li>
</ul>

<p><a n:href="dbModelExample:">Spat</a></p>
