{block content}


<h4>Komponenta kalkulacka</h4>
<hr/>

<h5>Sucet - komponenta</h5>
{control sucetForm}
<hr/>

<h5>Podiel - komponenta</h5>
{control podielForm}
<hr/>

<p><a n:href="Home:">Spat</a></p>
